<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- install tailwind --}}
<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  <title> Tech-Blog </title>
</head>

<body>
  <header>
    <h1 class=" text-center text-blue-500 text-4xl">Welcome to the Tech Blogpost</h1>
  </header>
  <nav class = "flex flex-row justify-around">
    <a href="/">Home</a>
    {{#if logged_in}}
    <a href="/dashboard">dashboard</a>
 
    <a href="/logout" id="logoutlink">logout</a>
    {{else}}
    <a href="/login">login</a>
    <a href="/signup">signup</a>
    {{/if}}

  
  </nav>
  <main>

    <div >
      {{{body}}}
    </div>
  </main>

</body>
<script src="/js/logout.js"></script>
</html>
```




    