<h1>Login Form</h1>
  <form id="login-form" class="card-body">
    <div>
      <label for="username-login">Username</label>
      <input type="text" id="username-login" />
    </div>
    <div>
      <label for="password-login">Password</label>
      <input type="password" id="password-login" />
    </div>
    <button type="submit" id="login-btn">Login!</button>
    <a type="button" href="/signup">Sign up instead</a>
  </form>
</div>

<script src="/js/login.js"></script>